<div>

    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Detalle de rechazo</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>



        <div class="modal-footer">
            <button type="button" value="Cerrar" onclick="location.href='@Url.Action("EnviarRechazo", "Home")'" class="btn btn-secondary btn-form" data-dismiss="modal">Cerrar</button>
        </div>


    </div>
